<div class="card">
  <div class="card__header">
    <div class="card__title-group">
      <div class="card__icon-wrap">
        <span class="material-symbols-outlined">trending_up</span>
      </div>
      <h3 class="card__title">Projeção Próximo Mês</h3>
    </div>
    <div class="card__actions">
      <button class="btn-primary">Ver Detalhes</button>
    </div>
  </div>
  <div class="card__body">
    <div class="card__value-row">
      <p class="card__value">
        @if (isBalanceHidden()) {
        ••••••
        } @else {
        {{ projection().projectedBalance | currency:'BRL':'symbol':'1.2-2':'pt-BR' }}
        }
      </p>
      <span class="card__badge" [class.card__badge--good]="projection().projectedGrowthPercent >= 0"
        [class.card__badge--bad]="projection().projectedGrowthPercent < 0">
        <span class="material-symbols-outlined">{{
          projection().projectedGrowthPercent >= 0 ? 'trending_up' : 'trending_down'
          }}</span>
        {{ projection().projectedGrowthPercent >= 0 ? '+' : ''
        }}{{ projection().projectedGrowthPercent }}%
      </span>
    </div>
    <p class="card__description">{{ projection().description }}</p>
  </div>
  <div class="card__stats">
    <div class="card__stat">
      <div class="card__stat-header">
        <p class="card__stat-label">Renda</p>
        <span class="card__stat__badge card__stat__badge--small"
          [class.card__stat__badge--good]="projection().projectedIncomeGrowthPercent >= 0"
          [class.card__stat__badge--bad]="projection().projectedIncomeGrowthPercent < 0">
          <span class="material-symbols-outlined">{{
            projection().projectedIncomeGrowthPercent >= 0 ? 'trending_up' : 'trending_down'
            }}</span>
          {{ projection().projectedIncomeGrowthPercent >= 0 ? '+' : '' }}{{ projection().projectedIncomeGrowthPercent
          }}%
        </span>
      </div>
      <p class="card__stat-value card__stat-value--good">
        @if (isBalanceHidden()) {
        ••••
        } @else {
        {{ projection().projectedIncome | currency:'BRL':'symbol':'1.2-2':'pt-BR' }}
        }
      </p>
    </div>

    <div class="card__divider"></div>

    <div class="card__stat">
      <div class="card__stat-header">
        <p class="card__stat-label">Gastos</p>
        <span class="card__stat__badge card__stat__badge--small"
          [class.card__stat__badge--good]="projection().projectedExpensesGrowthPercent >= 0"
          [class.card__stat__badge--bad]="projection().projectedExpensesGrowthPercent < 0">
          <span class="material-symbols-outlined">{{
            projection().projectedExpensesGrowthPercent >= 0 ? 'trending_up' : 'trending_down'
            }}</span>
          {{ projection().projectedExpensesGrowthPercent >= 0 ? '+' : '' }}{{
          projection().projectedExpensesGrowthPercent }}%
        </span>
      </div>
      <p class="card__stat-value card__stat-value--bad">
        @if (isBalanceHidden()) {
        ••••
        } @else {
        {{ projection().projectedExpenses | currency:'BRL':'symbol':'1.2-2':'pt-BR' }}
        }
      </p>
    </div>
  </div>

</div>