<div class="login-card">
  <!-- Header -->
  <div class="login-card__header">
    <h2 class="login-card__title">Bem-vindo</h2>
    <p class="login-card__subtitle">Acesse sua conta</p>
  </div>

  <!-- Form -->
  <form class="login-form"
    [formGroup]="loginForm"
    (ngSubmit)="login()">
    <app-login-field fieldId="email"
      label="Email"
      placeholder="nome@exemplo.com"
      type="email"
      icon="mail"></app-login-field>

    <app-login-field fieldId="password"
      label="Senha"
      labelLink="Esqueceu a senha?"
      placeholder="••••••••"
      [type]="passwordType()"
      icon="lock"
      [buttonIcon]="passwordIcon()"
      (buttonClick)="togglePasswordVisibility()"
      (labelLinkClick)="forgotPassword()"></app-login-field>

    <button class="login-form__submit"
      type="submit">
      <span>Fazer Login</span>
      <span class="material-symbols-outlined">arrow_forward</span>
    </button>
  </form>

  <!-- Footer Actions -->
  <div class="login-divider">
    <div class="login-divider__line-container">
      <div class="login-divider__line"></div>
      <span class="login-divider__text">Ou</span>
    </div>
    <p class="login-divider__signup">
      Não possui uma conta?
      <a href="#"
        (click)="onOpenRegister($event)">Criar nova conta</a>
    </p>
  </div>
</div>