<div class="card">
  <!-- Decorative Background Icon -->
  <span class="card__bg-icon material-symbols-outlined">account_balance</span>

  <div class="card__top">
    <p class="card__label">Saldo este Mês</p>
    <span class="card__badge" [class.card__badge--income]="balance().monthlyGrowthPercent >= 0"
      [class.card__badge--expense]="balance().monthlyGrowthPercent < 0">
      <span class="material-symbols-outlined">{{
        balance().monthlyGrowthPercent >= 0 ? 'trending_up' : 'trending_down'
        }}</span>
      {{ balance().monthlyGrowthPercent >= 0 ? '+' : ''
      }}{{ balance().monthlyGrowthPercent }}% este mês
    </span>
  </div>

  <h2 class="card__total">
    @if (isBalanceHidden()) {
    ••••••
    } @else {
    {{ balance().totalBalance | currency:'BRL':'symbol':'1.2-2':'pt-BR' }}
    }
  </h2>

  <div class="card__stats">
    <!-- Monthly Income -->
    <div class="card__stat card__stat">
      <p class="card__stat-label">Renda Mensal</p>
      <p class="card__stat-value card__stat-value--income">
        @if (isBalanceHidden()) {
        ••••
        } @else {
        {{ balance().monthlyIncome | currency:'BRL':'symbol':'1.2-2':'pt-BR' }}
        }
      </p>
    </div>

    <div class="card__divider"></div>

    <!-- Total Expenses -->
    <div class="card__stat card__stat">
      <p class="card__stat-label">Gastos Totais</p>
      <p class="card__stat-value card__stat-value--expense">
        @if (isBalanceHidden()) {
        ••••
        } @else {
        {{ balance().totalExpenses | currency:'BRL':'symbol':'1.2-2':'pt-BR' }}
        }
      </p>
    </div>
  </div>
</div>